.member {
  position: relative;

  overflow: hidden;

  min-width: 1200px;
  height: 800px;
  background: rgb(57, 59, 61);
}

.m-text {
  position: absolute;
  top: 100px;
  left: 43%;
  font-size: 40px;
  color: white;
  letter-spacing: 10px;
}

.m-line {
  position: absolute;
  display: block;
  width: 100px;
  height: 6px;
  top: 175px;
  left: 47%;
}

.members {
  position: relative;
  top: 270px;
  left: 30px;
  display: block;
  width: 1200px;
  height: 430px;
}

.excellent {
  float: left;
  left: 0;
  display: block;
  width: 260px;
  height: 100%;
  margin: 0 40px 0 0;
}

.intr {
  background: #fffafa;
}

.excellent .m_img {
  width: 100%;
  height: 70%;
  display: block;
}

.excellent p {
  display: block;
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
  padding: 8px 0;
}
.excellent span {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  color: cornflowerblue;
}

.intr img {
  display: block;
  width: 110px;
  height: 38px;
  padding: 15px 75px;
}
